includes:
	- vendor/contributte/phpstan/phpstan.neon
	- phpstan-baseline.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
		- .docs
