parameters:
    paths:
        - src
    level: max
    ignoreErrors:
        -
            message: '~^Parameter #1 \$pattern of function preg_match expects string, string\|null given\.$~'
            path: '*/src/ImageNameScript.php'
            count: 1
        -
            message: '~^Parameter #1 \$pattern of function preg_match expects string, string\|null given\.$~'
            path: '*/src/ImageStorage.php'
            count: 1
        -
            message: '~^Right side of && is always true\.$~'
            path: '*/src/ImageStorage.php'
            count: 1
        -
            message: '~^Method Contributte\\ImageStorage\\ImageStorage::fromIdentifier\(\) should return Contributte\\ImageStorage\\Image but returns array<int, Contributte\\ImageStorage\\ImageNameScript\|string>\|Contributte\\ImageStorage\\Image\.$~'
            path: '*/src/ImageStorage.php'
            count: 1
