{* Test basic img tag *}
<div class="basic">
{img $identifier}
</div>

{* Test img link *}
<div class="link">
{imgLink $identifier}
</div>

{* Test n:img attribute *}
<div class="attr">
<img n:img="$identifier" alt="test">
</div>
